/* Body background and centering */
body {
  background-color: #1e1e20; /* dark body */
  color: #eee;
  font-family: 'Space Grotesk', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* min-height: 100vh; */
  margin-top: 50px;
}

.app-container {
  text-align: center;
}

/* .board {
  display: grid;
  grid-gap: 8px;
  margin: 0 auto;
  max-width: 90vw; 
} */
.board {
  display: grid;
  gap: 10px;          /* spacing between tiles */
  background-color: #27272b;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;     /* center horizontally */
}

.tile {
  width: 35px;
  height: 35px;
  background-color: #383f38; 
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
  border-radius: 4px;
}


.tile:hover {
  background-color: #333;
}


.tile.obstacle {
  background-color: #23d160; /* green obstacle */
  box-shadow: 0 0 10px #23d16066, 0 0 20px #23d16033;
}
